#spam-be-gone-recaptcha-target {

  // http://stackoverflow.com/a/24698389/493756

  .recaptchatable .recaptcha_r1_c1,
  .recaptchatable .recaptcha_r3_c1,
  .recaptchatable .recaptcha_r3_c2,
  .recaptchatable .recaptcha_r7_c1,
  .recaptchatable .recaptcha_r8_c1,
  .recaptchatable .recaptcha_r3_c3,
  .recaptchatable .recaptcha_r2_c1,
  .recaptchatable .recaptcha_r4_c1,
  .recaptchatable .recaptcha_r4_c2,
  .recaptchatable .recaptcha_r4_c4,
  .recaptchatable .recaptcha_image_cell,
  #recaptcha_challenge_image,
  #recaptcha_response_field,
  #recaptcha_area,
  #recaptcha_table {
    margin: 0 !important;
    width: 100% !important;
    height: auto !important;
    background: none !important;
  }

  .recaptchatable #recaptcha_image {
    margin: 0 !important;
    height: auto !important;
  }

  @media only screen and (max-width: 490px) {
    .recaptchatable #recaptcha_image {
      width: 100% !important;
    }
  }
}
